.body-block {
  h2 {
    border-bottom: 1px solid;
    font-size: 1.2rem;
    color: #403f3f;
  }

  .pink {
    color: #cf007c;
  }

  .lvl-container {
    //border: 1px solid;
    width: 100% !important;
    display: flex;
    justify-content: space-between;
  }

  .lvl-container .lvl {
    border: 1px solid crimson;
    border-radius: 100%;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .lvl-container .lvl .fill-lvl {
    background-color: #cf007c;
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }

  .skill-headline {
    margin-bottom: 5px;
  }
}