header {
  //border: 2px solid crimson;
  padding-top: 20px;

  .headlines-container h2 {
    color: #cf007c;
  }

  ul li {
    list-style: none;
    color: #787777;
    display: flex;
    align-items: center;
  }

  ul li:not(:first-of-type) {
    margin-top: 10px;
  }

  ul li a {
    font-family: "Lato", sans-serif;
    margin-left: 5px;
    //border: 1px solid;
    color: #787777;
    display: inline-block;
  }

  .row {
    //border: 2px solid greenyellow;
    align-items: center;
  }

  p {
    color: #787777;
    text-align: center;
    font-weight: 400;
  }
}